<%@comments.each do |comment| %>
<div id="container"> 
<%userinfo2=comment.get_author%>
<div id="leftContent">
 <%=image_tag userinfo2.image%>
<div class="username"><%=link_to comment.author,edit_userinfo_path(userinfo2.id) %></div>
</div>
<div id="rightContent">
	<%=comment.flour_id%>楼(<%=userinfo2.pr%>)
	<%=comment.updated_at.strftime('%Y/%m/%d %H:%M')%>
	<%=link_to "查看原帖", passage_path(comment.passage.id)%>
	<div id="text">
<%=raw comment.content %>
</div>
</div>
</div>
<br>
<% end %>
<div >
</div>
