<div class="container passage_box">
<div class="content_box">
<p><b>用户名:</b>
<%name=User.find(@userinfo.user_id).username%>
<%=name%>
</p>
<p>
	<b>头像:</b>
<%=image_tag @userinfo.image%>
<p><b>积分:</b><%=@userinfo.money%></p>
</p>
<%if @userinfo.user_id==current_user.id %>
<p>
<%= form_for(@userinfo) do |f| %>
	<%=f.label "格言"%>
<%=f.text_field :pr%></br>
<%= f.file_field :image %> 
<%=f.submit "确认变更",:class => 'btn btn-primary'%>
<%end%>
</p>
<%end%>
<b>发帖记录</b>(<%=@passages.size%>件)
<%@passages.each do |passage| %>
<li>
<%=link_to passage.title, passage_path(passage.id)%>
<%if current_user.username==name%>
<%=link_to "编辑", edit_passage_path(passage.id)%>
<%=link_to "删除", passage_path(passage.id), :method=>:delete, :confirm=>"确定要删除咩？"%>
<%end%>
</li>
<%end%>
</div>
</div>
