<div class="container">
<p><b>ユーザ名:</b>
<%name=User.find(@userinfo.user_id).username%>
<%=name%>
</p>
<p>
	<b>アイコン:</b>
<%=image_tag @userinfo.image%>
<p><b>ポイント:</b><%=@userinfo.money%></p>
</p>
<%if @userinfo.user_id==current_user.id %>
<p>
<%= form_for(@userinfo) do |f| %>
	<%=f.label "自己PR:"%>
<%=f.text_field :pr%></br>
<%= f.file_field :image %> 
<%=f.submit "個人情報変更",:class => 'btn btn-mini'%>
<%end%>
</p>
<%end%>
<b>書き込み履歴</b>(<%=@passages.size%>件)
<%@passages.each do |passage| %>
<li>
<%=link_to passage.title, passage_path(passage.id)%>
<%if current_user.username==name%>
<%=link_to "编辑", edit_passage_path(passage.id)%>
<%=link_to "删除", passage_path(passage.id), :method=>:delete%>
<%end%>
</li>
<%end%>
</div>