<%@comments.each do |comment| %>
<div id="container">
<%userinfo2=comment.get_author%>
<div id="leftContent">
 <%=image_tag userinfo2.image%>
<div class="username"><%=link_to comment.author,edit_userinfo_path(userinfo2.id) %></div>
</div>
<div id="rightContent">
	(<%=userinfo2.pr%>)
	<%=comment.updated_at.strftime('%Y/%m/%d %H:%M')%>
	<div id="text">
<%=raw RbbCode.new.convert(comment.content) %>
</div>
</div>
</div>
<br>
<% end %>
<div >
</div>
<%=will_paginate @comments%>
