
 <%if @passages!=nil%>
<% @passages.each do |p| %>
<div id="passage_<%=p.id%>">
<%= link_to p.title, passage_path(p.id) %>
<%=link_to p.author, edit_userinfo_path(Userinfo.find(:first,:conditions=>{:user_id=>p.user_id}).id) %>
<%= p.comments.size %>/<%= p.clicked%>
<% if !p.comments.empty? %>
<%com=p.comments.find(:last)%>
<%=link_to com.author, edit_userinfo_path(Userinfo.find(:first,:conditions=>{:user_id=>com.user_id}).id)%>
<%else %>
<td>__</td> 
<%end%>
<%= p.created_at.strftime('%Y/%m/%d %H:%M') %>
<% end %>
<%end%>
