<%= form_for @passage,:url => {:action => 'update'} do |f| %>
<p><%= f.label "タイトル" ,:class=> "label label-info"%><br />
 <%= f.text_field :title %>
</p>
<p>
  <div><%= f.label "内容" ,:class=> "label label-info"%><br />
  <%=f.kindeditor  :content %>
   <!-- <%= f.text_area :content %> -->
</div>
</p>
  <p><%= f.submit "投稿"%></p>
<% end %>