
<h1>投稿一覧
  <%if current_user.userinfo!=nil%>
	<%=image_tag current_user.userinfo.image, :alt=>"icon"%>
<%end%>
</h1>
<div id="passagetable"><%=render :partial=>"table"%></div>
<%= form_for @passage,:url=>{:action=>"create"},:remote=>true do |f| %>
<p><%= f.label "タイトル" ,:class=> "label label-info"%><div id="title_error"></div><br />
 <%= f.text_field :title ,:id=>"txttitle" %>
</p>
<p>
  <p>
  <div><%= f.label "内容" ,:class=> "label label-info"%><div id="content_error"></div><br />
  <input type="button" onclick="insertText(document.getElementById('txtarea1'),'[img][/img]')" value="画像" ></input>
  <input type="button" onclick="insertText(document.getElementById('txtarea1'),'[b][/b]')" value="bold" ></input>
  </p>
  <%= f.text_area :content ,:id=>"txtarea1"%></div>
</p>  
  <p><%= f.submit "投稿"%></p>
<% end %>
<div><%=link_to "Logout",  destroy_user_session_path, :method => :delete %></div>
  