<h1>New Passage</h1>
<%= form_for @passage do |f| %>
<p><%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <div><%= f.label :content %><br />
  <%= f.text_field :content, :autofocus => true %></div>
</p>
  <p><%= f.submit %></p>
<% end %>
