<h2><%= @passage.title %></h2>
<p>
  <b>作者</b><br>
  <%= @passage.author %>
</p>
<p>
  <b>正文</b><br>
  <%=raw RbbCode.new.convert(@passage.content) %>
</p>
<% @passage.comments.each do |comment| %>
<p><%=raw RbbCode.new.convert(comment.content) %></p>
<p><%=comment.author %>
<%if current_user.username==comment.author%>
 <%= link_to 'コメントを削除', comment_path(comment.id),:method => :delete, :confirm => '本当に本当に削除しますか?', :class => 'btn btn-mini btn-danger' %>
 <%end%>
</p>
<% end %>
<div >
	<% if current_user.username==@passage.author %>
<%=link_to "delete", passage_path(@passage.id),:method => :delete %>
<% end %>
</div>
<%= form_for @comment do |f| %>
<p><%= f.label "コメント:" ,:class=> "label label-info"%><br />
  <%= f.text_area :content %>
  <%=f.hidden_field :passage_id , :value=>@passage.id %>
</p>
  <p><%= f.submit "提出",  :class => 'btn btn-mini' %></p>
<% end %>
<div><%=link_to "index", root_path%></div>
