<%userinfo1=@passage.get_author%>
<div class="passage_box">
 <div class="title"><%= @passage.title %></div>
<div class="content_box">
<div id="container">
    <div id="leftContent">
      <%=image_tag userinfo1.image%>
      <p><%=link_to @passage.author, edit_userinfo_path(Userinfo.find(:first,:conditions=>{:user_id=>@passage.user_id}).id)%></p>
    <div id="foot">
</div>
    </div>
    <div id="rightContent">
    <b>楼主</b>
    (<%=userinfo1.pr%>)
    <%=@passage.created_at.strftime('%Y/%m/%d %H:%M')%>
<%=link_to "编辑", edit_passage_path(@passage.id)%>
  <div id="text"><%=@passage.content.html_safe %></div>
<br>
<br>
</div>
</div>
</div>
<br>
<div class="content_box">
<div id="comment_table"><%=render :partial=>"comment"%></div>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"><h2 class="label label-primary"><%="发表评论"%></h2></div>
    <div class="panel-body">
<%= form_for @comment do |f| %>
  <%=f.kindeditor  :content ,:width => 600%>
  <%=f.hidden_field :passage_id , :value=>@passage.id %>
  <p><%= f.submit "提出",  :class => 'btn btn-primary' %></p>
<% end %>
</div>
</div>
</div>
</div>
</div>
