<%= form_for @passage do |f| %>
<%= f.label "标题" ,:class=> "label label-info"%><div id="title_error"></div>
  <%= f.text_field :title%>
  <%= f.hidden_field :id, :value=>@cat.id%>
  <br>
  <%= f.label "内容" ,:class=> "label label-info"%><div id="content_error"></div>
 <%=f.kindeditor :content, :simple_mode => true, owner_id: @passage.id%>
  <br>
  <%= f.submit "发帖"%>
<% end %>
