<h1><%=@cat.name%>
  <%if current_user.userinfo!=nil%>
	<%=image_tag current_user.userinfo.image, :alt=>"icon"%>
<%end%>
</h1>
<%=render :partial=>"table"%>
<%= will_paginate @passages %> 
<%=render :partial=>"input"%>
