<h1><%=@cat.name%>
  <%if current_user.userinfo!=nil%>
	<%=image_tag current_user.userinfo.image, :alt=>"icon"%>
<%end%>
<!-- <div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    操作
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
    	<%=link_to "ユーザ情報確認/変更", edit_userinfo_path(current_user.id)%>
    </li>
    <li>
    	<a data-toggle="modal" href="#myModal">新しい書き込み</a>
    </li>
  </ul>
</div> -->
</h1>
<%=render :partial=>"table"%>
<div class="pagination">
<%= will_paginate @passages %> 
</div>
 <!-- <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Create New Passage</h3>
  </div>
  <div class="modal-body">
    <%= form_for @passage,:url=>{:action=>"create", :controller=>"passages"} do |f| %>
<%= f.label "タイトル" ,:class=> "label label-info"%><div id="title_error"></div>
  <%= f.text_field :title ,:id=>"txttitle", :class=>"span5" %>
  <br/><%= f.label "内容" ,:class=> "label label-info"%><div id="content_error"></div>
  </p>
  <%= f.text_area :content ,:id=>"txtarea1", :class=>"span5"%>
</p>
  <p><%= f.submit "投稿"%></p>
<% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div> -->
<%=render :partial=>"input"%>
